.icon-row {
    @apply flex justify-around items-center w-full h-full relative
}

.icon {
    @apply mb-10;
    width: 20%;
    height: auto;
    aspect-ratio: 1/1;
}

.icon-inactive {
    @apply mb-10;
    width: 20%;
    height: auto;
    aspect-ratio: 1/1;
    opacity: 0.25;
}

.icon-active {
    @apply mb-10;
    width: 20%;
    height: auto;
    aspect-ratio: 1/1;
    opacity: 1;
}

.sequence-icon-box {
    @apply w-2/3 text-xl font-normal bg-trigger_box_background border-2 border-trigger_box_border;
    margin-left: 0.75%;
    height: auto;
    aspect-ratio: 520/75;
}

.left-meter-box {
    @apply text-xl font-normal bg-trigger_box_background border-2 border-trigger_box_border;
    width: 33.75%;
    height: auto;
    aspect-ratio: 95/100;
}

.middle-box {
    @apply w-1/3 text-xl font-normal bg-trigger_box_background border-2 border-trigger_box_border;
    margin-left: 0.75%;
    height: auto;
    aspect-ratio: 95/100;
}

.right-meter-box {
    @apply w-1/3 text-xl font-normal bg-trigger_box_background border-2 border-trigger_box_border;
    margin-left: 0.75%;
    height: auto;
    aspect-ratio: 95/100;
}